# Binaries
/triad
/triad_niri
/src/config/parser
/src/triad
/src/triad_niri
/tests/t*
!/tests/*.nim

# Nim cache
/.nimcache/
/nimcache/
/src/.nimcache/
/src/nimcache/
/tests/.nimcache/
/tests/nimcache/

# User-specific
.nimble/
/home/niltempus/.nimble/

# System / Editor
.DS_Store
*~
*.swp
.idea/
.vscode/
