# Binaries
/triad
/triad_niri
/src/triad
/src/triad_niri
/tests/tcompat
/tests/tconfig
/tests/tcore
/tests/thardening
/tests/tlayouts
/tests/tstress

# Nim cache
/.nimcache/
/nimcache/
/src/.nimcache/
/src/nimcache/
/tests/.nimcache/
/tests/nimcache/

# User-specific
.nimble/
/home/niltempus/.nimble/

# System / Editor
.DS_Store
*~
*.swp
.idea/
.vscode/
