// Triad Configuration (KDL 2.0)

layout {
    gaps 16
    center-focused-column "on-overflow"
    default-column-width { proportion 0.5; }
    enable-animations #true
    animation-speed 0.15
    smart-gaps #false
}

tag-rules {
    tag 1 default-layout="scroller"
    tag 2 default-layout="tile"
    tag 3 default-layout="grid"
    tag 4 default-layout="monocle"
}

quickshell {
    enabled #false
    theme "noctalia-shell"
}

// spawn-at-startup "waybar"

window-rule {
    match app-id="firefox"
    default-tag 2
}

window-rule {
    match app-id="alacritty"
    default-tag 1
}

window-rule {
    match app-id="discord"
    forced-layout "grid"
}

window-rule {
    match title="^Picture-in-Picture$"
    open-floating #true
}
